/*
    font-family: 'Rubik', sans-serif;

    -- 02 Colors --

    - Primary: #3D5AF1 #F5F6FA
    - Tints: #E8E8E9 #fdfdfe 
    - Shades:  #121b48 #1f2d79
    - Accents:
    - Gray: #1C1C1C #3D4465 #8B93A6 

*/

/* default seetings */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 1000rem;
}

*::selection {
  background-color: #3d5af1;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #3d4465;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* reusable-components */
/* buttons */

.btn-full {
  display: block;
  text-align: center;
  border: none;
  border-radius: 28px;
  background-color: #3d5af1;
  padding: 1rem 2.8rem;
  font-size: 1.8rem;
  color: #f5f6fa;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-full:hover {
  box-shadow: inset 0 0 0 2px #3d5af1;
  color: #3d5af1;
  background-color: #f5f6fa;
}

.btn-outline {
  display: block;
  text-align: center;
  border: none;
  border-radius: 28px;
  background-color: #f5f6fa;
  padding: 1.2rem 3.6rem;
  font-size: 1.8rem;
  color: #3d5af1;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 700;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 2px #3d5af1;
  color: #3d5af1;
  background-color: #3d5af1;
}

/* titles */

.primary-heading,
.secondary-heading,
.heading-tertiary {
  color: #1c1c1c;
  letter-spacing: -0.7px;
}

.primary-heading {
  font-weight: 700;
  font-size: 6.8rem;
  line-height: 1.05;
  margin-bottom: 0.8rem;
}

.secondary-heading {
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: 600;
  position: relative;
}

.secondary-heading::before {
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 2px;
  width: 45px;
  background-color: #3d5af1;
  top: -30px;
}

.tertiary-heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 2rem 0;
}

.sub-heading {
  display: block;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 0.75px;
}

/* grid */

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

/* helper classes */

.centered {
  align-items: center;
  justify-content: center;
}

.section {
  background-color: #f0f0f0;
  padding: 5.4rem 0;
}
