@{
    ViewBag.Title = "Home Page";
}

<main class="main-container">
    <section class="hero-section">
        <div class="container">
            <div class="hero-box grid grid--2--cols">
                <div class="hero-content">
                    <h1 class="primary-heading">Bem-vindo(a)</h1>
                    <p class="hero-text">
                        Seja bem-vindo(a) ao nosso fórum de programação<br />
                        - onde ideias viram código e problemas se transformam em
                        soluções!
                    </p>
                    <a class="btn-full btn-hero" href="/Usuario/Novo">Criar conta</a>
                </div>
                <div class="hero-img-box centered">
                    <img class="hero-img"
                         src="~/Content/imgs/hero/notebook.png"
                         alt="Imagem de um notebook" />
                </div>
            </div>
        </div>
        <i class="ph-mouse-simple icon-header"></i>
    </section>
    <section class="news-section section">
        <div class="container">
            <div class="news-header">
                <h2 class="secondary-heading">Notícias</h2>
                <a class="news-show-action" href="#">Mostrar tudo &rarr;</a>
            </div>

            <div class="news-box">
                <div class="news-card">
                    <div class="news-img-box">
                        <img class="news-img"
                             src="~/Content/imgs/noticia/noticia1.jpg"
                             alt="Imagem de noticia" />
                    </div>
                    <div class="news-content">
                        <h3 class="tertiary-heading">Titulo</h3>
                        <p class="common-text news-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                            corporis dolorem modi enim quas. Veniam, corporis asperiores?
                            Eos ex perspiciatis repellat vel, excepturi unde modi dolor,
                            fuga veritatis suscipit nihil?
                        </p>
                        <div class="news-card-footer">
                            <div class="news-info-box">
                                <div class="news-info-content">
                                    <i class="ph-chat-dots news-icon"></i>
                                    <span class="news-info news-comments"> 2.3k</span>
                                </div>
                                <div class="news-info-content">
                                    <i class="ph-eye news-icon"></i>
                                    <span class="news-info news-views">2.3k</span>
                                </div>
                            </div>
                            <span class="news-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-img-box">
                        <img class="news-img"
                             src="~/Content/imgs/noticia/noticia2.jpg"
                             alt="Imagem de noticia" />
                    </div>
                    <div class="news-content">
                        <h3 class="tertiary-heading">Titulo</h3>
                        <p class="common-text news-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                            corporis dolorem modi enim quas. Veniam, corporis asperiores?
                            Eos ex perspiciatis repellat vel, excepturi unde modi dolor,
                            fuga veritatis suscipit nihil?
                        </p>
                        <div class="news-card-footer">
                            <div class="news-info-box">
                                <div class="news-info-content">
                                    <i class="ph-chat-dots news-icon"></i>
                                    <span class="news-info news-comments"> 2.3k</span>
                                </div>
                                <div class="news-info-content">
                                    <i class="ph-eye news-icon"></i>
                                    <span class="news-info news-views">2.3k</span>
                                </div>
                            </div>
                            <span class="news-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-img-box">
                        <img class="news-img"
                             src="~/Content/imgs/noticia/noticia3.jpg"
                             alt="Imagem de noticia" />
                    </div>
                    <div class="news-content">
                        <h3 class="tertiary-heading">Titulo</h3>
                        <p class="common-text news-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                            corporis dolorem modi enim quas. Veniam, corporis asperiores?
                            Eos ex perspiciatis repellat vel, excepturi unde modi dolor,
                            fuga veritatis suscipit nihil?
                        </p>
                        <div class="news-card-footer">
                            <div class="news-info-box">
                                <div class="news-info-content">
                                    <i class="ph-chat-dots news-icon"></i>
                                    <span class="news-info news-comments"> 2.3k</span>
                                </div>
                                <div class="news-info-content">
                                    <i class="ph-eye news-icon"></i>
                                    <span class="news-info news-views">2.3k</span>
                                </div>
                            </div>
                            <span class="news-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
                <div class="news-card">
                    <div class="news-img-box">
                        <img class="news-img"
                             src="~/Content/imgs/noticia/noticia4.jpg"
                             alt="Imagem de noticia" />
                    </div>
                    <div class="news-content">
                        <h3 class="tertiary-heading">Titulo</h3>
                        <p class="common-text news-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                            corporis dolorem modi enim quas. Veniam, corporis asperiores?
                            Eos ex perspiciatis repellat vel, excepturi unde modi dolor,
                            fuga veritatis suscipit nihil?
                        </p>
                        <div class="news-card-footer">
                            <div class="news-info-box">
                                <div class="news-info-content">
                                    <i class="ph-chat-dots news-icon"></i>
                                    <span class="news-info news-comments"> 2.3k</span>
                                </div>
                                <div class="news-info-content">
                                    <i class="ph-eye news-icon"></i>
                                    <span class="news-info news-views">2.3k</span>
                                </div>
                            </div>
                            <span class="news-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="question-section section">
        <div class="container">
            <h2 class="secondary-heading">Perguntas</h2>
            <div class="question-box">
                <div class="question-card">
                    <div class="question-content">
                        <div class="tags-card-news-box">
                            <span class="tag-news js">JavaScript</span>
                            <span class="tag-news c">C#</span>
                            <span class="tag-news php">PHP</span>
                            <span class="tag-news py">Python</span>
                        </div>
                        <h3 class="tertiary-heading">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h3>
                        <p class="common-text question-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                            eius necessitatibus debitis architecto! Reiciendis,
                            dignissimos maiores nemo ipsum autem minima minus id,
                            inventore laboriosam quo at quas nobis ab officia? Lorem ipsum
                            dolor, sit amet consectetur adipisicing elit. Enim eius
                            necessitatibus debitis architecto! Reiciendis, dignissimos
                            maiores nemo ipsum autem minima minus id, inventore laboriosam
                            quo at quas nobis ab officia? Lorem ipsum dolor, sit amet
                            consectetur adipisicing elit. Enim eius necessitatibus debitis
                            architecto! Reiciendis, dignissimos maiores nemo ipsum autem
                            minima minus id, inventore laboriosam quo at quas nobis ab
                            officia? Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Enim eius necessitatibus debitis architecto! Reiciendis,
                            dignissimos maiores nemo ipsum autem minima minus id,
                            inventore laboriosam quo at quas nobis ab officia? Lorem ipsum
                            dolor, sit amet consectetur adipisicing elit. Enim eius
                            necessitatibus debitis architecto! Reiciendis, dignissimos
                            maiores nemo ipsum autem minima minus id, inventore laboriosam
                            quo at quas nobis ab officia?
                        </p>
                        <div class="question-card-footer">
                            <div class="question-info-box">
                                <div class="question-info-content">
                                    <i class="ph-chat-dots question-icon"></i>
                                    <span class="question-info question-comments"> 2.3k</span>
                                </div>
                                <div class="question-info-content">
                                    <i class="ph-eye question-icon"></i>
                                    <span class="question-info question-views">2.3k</span>
                                </div>
                            </div>
                            <span class="question-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
                <div class="question-card">
                    <div class="question-content">
                        <div class="tags-card-news-box">
                            <span class="tag-news js">JavaScript</span>
                            <span class="tag-news c">C#</span>
                            <span class="tag-news php">PHP</span>
                            <span class="tag-news py">Python</span>
                        </div>
                        <h3 class="tertiary-heading">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h3>

                        <p class="common-text question-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                            eius necessitatibus debitis architecto! Reiciendis,
                            dignissimos maiores nemo ipsum autem minima minus id,
                            inventore laboriosam quo at quas nobis ab officia?
                        </p>
                        <div class="question-card-footer">
                            <div class="question-info-box">
                                <div class="question-info-content">
                                    <i class="ph-chat-dots question-icon"></i>
                                    <span class="question-info question-comments"> 2.3k</span>
                                </div>
                                <div class="question-info-content">
                                    <i class="ph-eye question-icon"></i>
                                    <span class="question-info question-views">2.3k</span>
                                </div>
                            </div>
                            <span class="question-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
                <div class="question-card">
                    <div class="question-content">
                        <div class="tags-card-news-box">
                            <span class="tag-news js">JavaScript</span>
                            <span class="tag-news c">C#</span>
                            <span class="tag-news php">PHP</span>
                            <span class="tag-news py">Python</span>
                        </div>
                        <h3 class="tertiary-heading">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h3>
                        <p class="common-text question-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                            eius necessitatibus debitis architecto! Reiciendis,
                            dignissimos maiores nemo ipsum autem minima minus id,
                            inventore laboriosam quo at quas nobis ab officia?
                        </p>
                        <div class="question-card-footer">
                            <div class="question-info-box">
                                <div class="question-info-content">
                                    <i class="ph-chat-dots question-icon"></i>
                                    <span class="question-info question-comments"> 2.3k</span>
                                </div>
                                <div class="question-info-content">
                                    <i class="ph-eye question-icon"></i>
                                    <span class="question-info question-views">2.3k</span>
                                </div>
                            </div>
                            <span class="question-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
                <div class="question-card">
                    <div class="question-content">
                        <div class="tags-card-news-box">
                            <span class="tag-news js">JavaScript</span>
                            <span class="tag-news c">C#</span>
                            <span class="tag-news php">PHP</span>
                            <span class="tag-news py">Python</span>
                        </div>
                        <h3 class="tertiary-heading">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h3>
                        <p class="common-text question-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                            eius necessitatibus debitis architecto! Reiciendis,
                            dignissimos maiores nemo ipsum autem minima minus id,
                            inventore laboriosam quo at quas nobis ab officia?
                        </p>
                        <div class="question-card-footer">
                            <div class="question-info-box">
                                <div class="question-info-content">
                                    <i class="ph-chat-dots question-icon"></i>
                                    <span class="question-info question-comments"> 2.3k</span>
                                </div>
                                <div class="question-info-content">
                                    <i class="ph-eye question-icon"></i>
                                    <span class="question-info question-views">2.3k</span>
                                </div>
                            </div>
                            <span class="question-time-released">2hrs ago</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-btn-footer">
                <a class="btn-outline" href="/Perguntas/Index">Ver mais</a>
            </div>
        </div>
    </section>
    <section class="login-section element-hidden">
        <form action="#" class="form-login">
            <h3 class="form-heading">Bem-Vindo de volta</h3>
            <div class="form-content">
                <div class="form-input-label-box">
                    <label for="email" class="label-form">Email</label>
                    <input type="email"
                           name="email"
                           id="email"
                           class="input-form"
                           placeholder="Entre com o seu email" />
                    <i class="ph-envelope form-icon"></i>
                </div>
                <div class="form-input-label-box">
                    <label for="senha" class="label-form">Senha</label>
                    <input type="password"
                           name="password"
                           id="password"
                           class="input-form"
                           placeholder="****************" />
                    <i class="ph-lock-key-open form-icon"></i>
                </div>
                <div class="options-form">
                    <div class="remeber-box">
                        <input type="checkbox" name="remember" id="remember" />
                        <label for="remember" class="label-form remember-label">Lembrar conta</label>
                    </div>
                    <div>
                        <a href="#" class="form-link">Esqueceu senha?</a>
                    </div>
                </div>
                <button class="btn-full btn-form">Entrar</button>

                <div class="divider-box">
                    <span class="divider"></span>
                    <p>ou</p>
                    <span class="divider"></span>
                </div>
                <div class="enter-with-box">
                    <div class="logo-box-form">
                        <img src="~/Content/imgs/form/google-logo.png"
                             alt="logo da google"
                             class="form-logo-img" />
                    </div>
                    <div class="logo-box-form">
                        <img src="~/Content/imgs/form/facebook-logo.png"
                             alt="logo da facebook"
                             class="form-logo-img" />
                    </div>
                    <div class="logo-box-form">
                        <img src="~/Content/imgs/form/microsoft-logo.png"
                             alt="logo da microsoft"
                             class="form-logo-img" />
                    </div>
                </div>
                <div class="does-not-have-accont-box">
                    <p>Não tem conta?</p>
                    <a href="#" class="form-link">Crie a sua agora</a>
                </div>
            </div>
        </form>
    </section>
</main>
<script src="~/Scripts/script.js"></script>