.header-container {
    box-shadow: 0 2rem 4.8rem rgba(0, 0, 0, 0.01);
    background-color: white;
}

.header-box {
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #1c1c1c;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2.8rem;
    align-items: center;
}

.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color: #3d4465;
    font-size: 1.8rem;
    font-weight: 400;
    transition: all 0.3s;
}

.nav-item:hover,
.nav-item:active {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.8rem;
    font-weight: 400;
}

.notification-box{
    position: relative;
}

.notification-item {
    position: absolute;
    top: -50%;
    left: 100%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fa5252;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/*******************  
*** Hero-section *** 
********************/
.hero-section {
    background-color: #f0f0f0;
    position: relative;
}

    .hero-section::after {
        content: "";
        position: absolute;
        bottom: 2rem;
        width: 34rem;
        height: 0.1rem;
        background: #8b93a6;
        opacity: 0.6;
        border-radius: 2px;
        right: 51%;
    }

    .hero-section::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        width: 34rem;
        height: 0.1rem;
        background: #8b93a6;
        opacity: 0.6;
        border-radius: 2px;
        left: 51%;
    }

    .hero-section::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        width: 34rem;
        height: 0.1rem;
        background: #8b93a6;
        opacity: 0.6;
        border-radius: 2px;
        left: 51%;
    }

.hero-box {
    height: 70rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.hero-text {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 2.4rem;
}

.btn-hero {
    filter: drop-shadow(0px 0.5rem 1rem rgba(0, 0, 0, 0.05));
    width: 18rem;
}

.hero-img-box {
    width: 100%;
    display: flex;
}

.hero-img {
    width: 90%;
}

.icon-header {
    font-size: 3.2rem;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/*******************  
*** News-section *** 
********************/



.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-show-action:link,
.news-show-action:visited {
    text-decoration: none;
    color: #3d5af1;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.3s;
}

.news-show-action:active,
.news-show-action:hover {
    color: #1f2d79;
}

.news-box {
    overflow: hidden;
    display: flex;
    gap: 2.4rem;
    padding: 5.6rem 0;
}

.news-card {
    cursor: pointer;
    box-sizing: border-box;
    width: 35rem;
    height: 40rem;
    background-color: #fdfdfe;
    border-radius: 12px;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.03);
}

.news-img {
    border-radius: 12px 12px 0px 0px;
    width: 32rem;
    height: 17rem;
}

.news-text {
    height: 10rem;
}

.news-card-footer {
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-info-box {
    display: flex;
}

.news-info-content {
    display: flex;
    align-items: center;
}

.news-info {
    display: flex;
    align-items: center;
    color: #2540cd;
    font-size: 1.4rem;
    font-weight: 600;
    align-items: center;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 3rem;
}

.news-icon {
    font-size: 2.4rem;
}

.news-time-released {
    font-size: 1rem;
    font-weight: 600;
}

/*******************  
*** question-section *** 
********************/

.question-section {
    padding: 5.6rem 0;
}

.question-box {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2.4rem 0;
}

.question-card {
    cursor: pointer;
    display: flex;
    width: 53.5rem;
    box-sizing: border-box;
    background-color: #fdfdfe;
    border-radius: 12px;
    padding: 2.5rem 2.5rem;
    gap: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.03);
}

.question-text {
    
}

.question-card-footer {
    position: relative;
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-info-box {
    display: flex;
}

.question-info-content {
    display: flex;
    align-items: center;
}

.question-info {
    display: flex;
    align-items: center;
    color: #2540cd;
    font-size: 1.6rem;
    font-weight: 600;
    align-items: center;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 3rem;
}

.question-icon {
    font-size: 2.4rem;
    color: #8b93a6;
}

.show-details{
    transition: all 0.4s;
    display: block;
    margin-top: 2rem;
}

.show-details:hover {
    text-decoration: none
}

.like-icon {
    position: absolute;
    left: 2.5rem;
    transition: 0.5s all;
}

.question-like{
    margin-left: 5rem;
    transition: 0.4s all;
}

.likeButton{
    opacity: 0;
    position: absolute;
    
    left: 2.5rem;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 999;
}

.liked-icon {
   color: #3d5af1;
   animation: 0.7s likeAnimation forwards;
}

@keyframes likeAnimation{
    0%{
        transform: rotateX(-45deg);
        font-size: 1.2rem;

    }
    33% {
        transform: rotateX(0);
        font-size: 1.5rem;
       
    }
    66% {
        transform: rotate(45deg);
        font-size: 1.8rem;
  
    }
    100% {
        transform: rotate(0deg);
        font-size: 2.1rem;

    }
}

.question-like:hover {
    color: #3d5af1;
}

.question-time-released {
    font-size: 1rem;
    font-weight: 600;
    color: #2540cd;
}

.box-btn-footer {
    display: flex;
    justify-content: center;
}







/**********************  
*** Login-section *** 
***********************/

.home-form{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.login-section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 240, 240, 0.7);
    backdrop-filter: blur(6px);
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.form-login {
    width: 35rem;
    height: 50rem;
    border-radius: 10px;
    background-color: #f5f6fa;
    padding: 3rem;
}

.form-heading {
    font-weight: 600;
    font-size: 2.6rem;
    color: #1c1c1c;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-input-label-box {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 2.5rem;
    color: #3d5af1;
}

.label-form {
    font-weight: 400;
    font-size: 14px;
    color: #3d4465;
}

.input-form {
    padding: 0rem 1.5rem;
    position: relative;
}

.options-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remeber-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#remember {
    cursor: pointer;
}

.remember-label {
    cursor: pointer;
}

.btn-form {
    width: 100%;
    border-radius: 5px;
    margin: 2rem 0 0rem 0;
}

.divider-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

.divider {
    background: rgba(61, 68, 101, 0.8);
    border-radius: 2px;
    width: 15.5rem;
    height: 1px;
}

.enter-with-box {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.logo-box-form {
    background-color: #fff;
    height: 4rem;
    width: 5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .logo-box-form:hover .form-logo-img {
        width: 3rem;
        height: 3rem;
    }

.form-logo-img {
    transition: all 0.5s;
    width: 2rem;
    height: 2rem;
}

.does-not-have-accont-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.layout-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}



/**********************    
*** Section Question *** 
***********************/

.section-question {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.question-card-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.5rem 2rem;
}

.useful-buttons {
    padding: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
}

.btn-question {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button-icon {
    font-size: 2rem !important;
}

.question-content {
    padding: 0rem 3rem 3rem 3rem;
}

.question-user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-box-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.question-user-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.username-text {
    color: #3d4465;
    font-size: 1.3rem;
}

.question-time-released {
    color: #8b93a6;
}

.question-text {
    font-size: 1.6rem;
}

.keep-learning {
    text-decoration: none;
    font-style: italic;
}

.question-card-footer {
    display: flex;
    justify-content: space-between;
}

.question-info-box {
    display: flex;
    gap: 1.5rem;
}

.question-info-content {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.question-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.question-info {
    font-size: 1.4rem;
    height: 1.4rem
}

/**********************    
*** Pointers Question *** 
***********************/

.pontos-section {
    background-color: #fff;
    border-radius: 20px;
    padding: 2.4rem 0;
    height: 60rem;

}

    .pontos-section .tertiary-heading {
        text-align: center;
        font-size: 1.6rem !important;
        margin-top: 0;
        margin-bottom: 1rem !important;
    }

.container-pontos {
    display: flex;
    flex-direction: column;
}

    .container-pontos a {
        text-decoration: none !important;
        color: #3d4465 !important;
    }

.box-pontos {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    transition: all 0.5s;
}

    .box-pontos:hover{
        background-color: #eee;
    }

    .img-perfil-points {
        width: 3rem;
        height: 3rem;
        border-radius: 50%
    }


/**********************    
*** Footer Question *** 
***********************/


.footer-container {
    padding: 3.2rem 0;
    display: grid;
    gap: 2.6rem;
    grid-template-columns: 1fr 2fr;
}

.about-us-box {
    align-items: center;
    overflow: hidden;
    display: flex;
}

    .about-us-box div {
        margin-right: -1.5rem;
    }


.about-me {
    display: flex;
    gap: 1rem;
    position: relative;
    transition: 0.8s all;
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
   
}

    .about-me:hover {
        margin-right: 0rem;
        width: 30rem;
        background-color: #3D4465;
    }

.element-hidden-footer {
    opacity: 0 !important;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(-150%) !important;
}

.picture-me{
    z-index: 99;
    cursor: pointer;
    border: 4px solid #fff;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.about-me:hover .info-us {
    width: 30rem;
    opacity: 100 !important;
    pointer-events: auto !important;
    visibility: visible !important;
    transform: translateX(0%) !important;
    position: relative;
}

.info-us{
    transition: 0.8s all;
    position: absolute;
}

.info-us p{
    color: #fff;
    font-size: 1.2rem;
}

.links-box{
    display: flex;
    gap: 1rem;
}

.icon-link{
    font-size: 1.6rem;
    color: #fff !important;
    fill:#fff;
  stroke: #fff;
}

.img-medalha{
    width: 2.5rem;
    height: 2.8rem;
}

.box-username-medal{
    margin-top: 1rem;
}

.pontos-text{
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.tags-card-news-box {
    display: flex;
    gap: 1rem;
}

/**********************    
*** Footer *** 
***********************/

.tag-news {
    display: inline-block;
    border-radius: 2px;
    color: #f0f0f0;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: 700;
}

.JavaScript {
    background-color: #b19f1b;
}

.Python {
    background-image: linear-gradient(290deg, #f7c400 50%, #00264d 50%);
}

.PHP {
    background-color: #7377ad;
}

.CSharp {
    background-color: #7e21d5;
}

.Introducao {
    background-color: #3e464d; /* Cinza escuro */
}

.Linguagens {
    background-color: #1e7b34; /* Verde escuro */
}

.Web {
    background-color: #8e1a23; /* Vermelho escuro */
}

.Mobile {
    background-color: #c66e00; /* Laranja escuro */
}

.BD {
    background-color: #3a246a; /* Roxo escuro */
}

.InteligenciaArtificial {
    background-color: #d32e23; /* Vermelho escuro */
}

.Seguranca {
    background-color: #628e35; /* Verde escuro */
}

.Arquitetura {
    background-color: #5a3d33; /* Marrom escuro */
}

.Java {
    background-color: #b35e00; /* Laranja escuro */
}

.CMaisMais {
    background-color: #004474; /* Azul escuro */
}

.JSON {
    background-color: #006a35; /* Verde escuro */
}



.Ruby {
    background-color: #9c1c1b; /* Vermelho escuro */
}

.HTML {
    background-color: #a8311f; /* Laranja avermelhado escuro */
}

.CSS {
    background-color: #1e3d9f; /* Azul claro escuro */
}

.Swift {
    background-color: #bf7c30; /* Amarelo claro escuro */
}

.Kotlin {
    background-color: #254496; /* Azul escuro */
}

.Go {
    background-color: #0087b8; /* Azul claro escuro */
}

.Rust {
    background-color: #a56b3b; /* Laranja claro escuro */
}

.TypeScript {
    background-color: #005c85; /* Azul escuro */
}

.SQL {
    background-color: #bb630e; /* Laranja escuro */
}

.RubyOnRails {
    background-color: #800000; /* Vermelho escuro */
}

.Scala {
    background-color: #8d1e2b; /* Vermelho escuro */
}

.Lua {
    background-color: #00004d; /* Azul escuro */
}

.R {
    background-color: #195c9c; /* Azul claro escuro */
}

.Perl {
    background-color: #027b9d; /* Azul claro escuro */
}

.ShellScript {
    background-color: #000000; /* Preto */
}

.SwiftUI {
    background-color: #b3305a; /* Rosa escuro */
}

.Django {
    background-color: #05230f; /* Verde escuro */
}

.Flutter {
    background-color: #3189b3; /* Azul claro escuro */
}

.VueJS {
    background-color: #2d7b61; /* Verde claro escuro */
}

.AngularJS {
    background-color: #8c2024; /* Vermelho escuro */
}

.SpringFramework {
    background-color: #508a26; /* Verde escuro */
}

