.header-container {
    box-shadow: 0 2rem 4.8rem rgba(0, 0, 0, 0.01);
    background-color: white;
}

.header-box {
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #1c1c1c;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 5.8rem;
    align-items: center;
}

.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color: #3d4465;
    font-size: 1.8rem;
    font-weight: 400;
    transition: all 0.3s;
}

.nav-item:hover,
.nav-item:active {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.8rem;
    font-weight: 400;
}

/*******************  
*** Hero-section *** 
********************/

.hero-section {
    background-color: #f0f0f0;
    position: relative;
}

    .hero-section::after {
        content: "";
        position: absolute;
        bottom: 2rem;
        width: 34rem;
        height: 0.1rem;
        background: #8b93a6;
        opacity: 0.6;
        border-radius: 2px;
        right: 51%;
    }

    .hero-section::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        width: 34rem;
        height: 0.1rem;
        background: #8b93a6;
        opacity: 0.6;
        border-radius: 2px;
        left: 51%;
    }

    .hero-section::before {
        content: "";
        position: absolute;
        bottom: 2rem;
        width: 34rem;
        height: 0.1rem;
        background: #8b93a6;
        opacity: 0.6;
        border-radius: 2px;
        left: 51%;
    }

.hero-box {
    height: 70rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.hero-text {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 2.4rem;
}

.btn-hero {
    filter: drop-shadow(0px 0.5rem 1rem rgba(0, 0, 0, 0.05));
    width: 18rem;
}

.hero-img-box {
    width: 100%;
    display: flex;
}

.hero-img {
    width: 90%;
}

.icon-header {
    font-size: 3.2rem;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

/*******************  
*** News-section *** 
********************/



.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-show-action:link,
.news-show-action:visited {
    text-decoration: none;
    color: #3d5af1;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.3s;
}

.news-show-action:active,
.news-show-action:hover {
    color: #1f2d79;
}

.news-box {
    overflow: hidden;
    display: flex;
    gap: 2.4rem;
    padding: 5.6rem 0;
}

.news-card {
    cursor: pointer;
    box-sizing: border-box;
    width: 35rem;
    height: 40rem;
    background-color: #fdfdfe;
    border-radius: 12px;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.03);
}

.news-img {
    border-radius: 12px 12px 0px 0px;
    width: 32rem;
    height: 17rem;
}

.news-text {
    height: 10rem;
}

.news-card-footer {
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-info-box {
    display: flex;
}

.news-info-content {
    display: flex;
    align-items: center;
}

.news-info {
    display: flex;
    align-items: center;
    color: #2540cd;
    font-size: 1.4rem;
    font-weight: 600;
    align-items: center;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 3rem;
}

.news-icon {
    font-size: 2.4rem;
}

.news-time-released {
    font-size: 1rem;
    font-weight: 600;
}

/*******************  
*** question-section *** 
********************/

.question-section {
    padding: 5.6rem 0;
}

.question-box {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2.4rem 0;
}

.question-card {
    cursor: pointer;
    display: flex;
    width: 53.5rem;
    box-sizing: border-box;
    background-color: #fdfdfe;
    border-radius: 12px;
    padding: 2.5rem 2.5rem;
    gap: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.03);
}

.question-text {
    height: 9.5rem;
    overflow-y: hidden;
}

.question-card-footer {
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-info-box {
    display: flex;
}

.question-info-content {
    display: flex;
    align-items: center;
}

.question-info {
    display: flex;
    align-items: center;
    color: #2540cd;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 3rem;
}

.question-icon {
    font-size: 2rem;
    color: #8b93a6;
}

.question-time-released {
    font-size: 1rem;
    font-weight: 600;
    color: #2540cd;
}

.box-btn-footer {
    display: flex;
    justify-content: center;
}

/* Tags news */

.tags-card-news-box {
    display: flex;
    gap: 1rem;
}

.tag-news {
    display: inline-block;
    border-radius: 2px;
    color: #f0f0f0;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: 700;
}

.js {
    background-color: #b19f1b;
}

.py {
    background-image: linear-gradient(290deg, #f7c400 50%, #00264d 50%);
}

.php {
    background-color: #7377ad;
}

.c {
    background-color: #7e21d5;
}

/**********************  
*** Login-section *** 
***********************/

.login-section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 240, 240, 0.7);
    backdrop-filter: blur(6px);
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.form-login {
    width: 35rem;
    height: 50rem;
    border-radius: 10px;
    background-color: #f5f6fa;
    padding: 3rem;
}

.form-heading {
    font-weight: 600;
    font-size: 2.6rem;
    color: #1c1c1c;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-input-label-box {
    position: relative;
}

.form-icon {
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 2.5rem;
    color: #3d5af1;
}

.label-form {
    font-weight: 400;
    font-size: 14px;
    color: #3d4465;
}

.input-form {
    padding: 0rem 4.5rem;
    position: relative;
}

.options-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remeber-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#remember {
    cursor: pointer;
}

.remember-label {
    cursor: pointer;
}

.btn-form {
    width: 100%;
    border-radius: 5px;
    margin: 2rem 0 0rem 0;
}

.divider-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

.divider {
    background: rgba(61, 68, 101, 0.8);
    border-radius: 2px;
    width: 15.5rem;
    height: 1px;
}

.enter-with-box {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.logo-box-form {
    background-color: #fff;
    height: 4rem;
    width: 5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .logo-box-form:hover .form-logo-img {
        width: 3rem;
        height: 3rem;
    }

.form-logo-img {
    transition: all 0.5s;
    width: 2rem;
    height: 2rem;
}

.does-not-have-accont-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.layout-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}



/**********************    
*** Section Question *** 
***********************/

.section-question {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.question-card-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.5rem 2rem;
}

.useful-buttons {
    padding: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
}

.btn-question {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button-icon {
    font-size: 2rem !important;
}

.question-content {
    padding: 0rem 3rem 3rem 3rem;
}

.question-user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-box-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.question-user-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.username-text {
    color: #3d4465;
    font-size: 1.3rem;
}

.question-time-released {
    color: #8b93a6;
}

.question-text {
    font-size: 1.6rem;
}

.keep-learning {
    text-decoration: none;
    font-style: italic;
}

.question-card-footer {
    display: flex;
    justify-content: space-between;
}

.question-info-box {
    display: flex;
    gap: 1.5rem;
}

.question-info-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.question-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.question-info {
    font-size: 1.3rem;
}

/**********************    
*** Moders Question *** 
***********************/

.moders-section {
    height: 30rem;
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem 2rem;
}

    .moders-section .tertiary-heading {
        text-align: center;
    }
